* {
  margin: 0;
  padding: 0;
}

body {
  background: #111;
}

.profiles {
  height: 100vh;
}

.profileScreen__details--container {
  color: #fff;
  font-family: helvetica;
  width: 50%;
  max-width: 600px;
  margin: 0 auto;
  max-height: 100vh;
  padding-top: 110px;
  height: 100%;
}

.profileScreen__details--container h1 {
  font-weight: 100;
  font-size: 1.925em;
}

.profileScreen__details {
  display: flex;
}

.profileScreen__avatar {
  height: 70px;
}

.profileScreen__details {
  margin-top: 9.5px;
}
.profileScreen_plans--container {
  margin-left: 9.5px;
  flex: 1;
}

.profileScreen_email {
  background: #757575;
  padding: 10px 10px 10px 20px;
  margin-bottom: 10px;
  font-size: 0.955em;
}

.profileScreen_currentPlan {
  font-weight: 300;
  font-size: 0.975em;
  border-bottom: 1px solid #282c2d;
  padding-bottom: 10px;
}

.profileScreen_signOut {
  width: 100%;
  border: none;
  outline: none;
  padding: 7px 0px;
  margin-top: 10px;
  background: #e50914;
  color: #fff;
  font-size: 0.975em;
  font-weight: 500;
  cursor: pointer;
}

.profileScreen__renewalDate {
  padding: 10px 0px;
  font-size: 1.15em;
}

.profileScreen__plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  margin-bottom: 18px;
  color: #c2c2c2;
  cursor: default;
  transition: color 300ms ease;
}

.profileScreen__plan:hover {
  color: #fff;
}

.plan_info {
  display: flex;
  flex-direction: column;
  font-size: 1.05em;
}

.plan_button {
  font-size: 1.05em;
  padding: 4px 6px;
  border-radius: 4px;
  background: #e50914;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

.plan_button.current {
  background: #c2c2c2;
  color: #141414;
}

@media screen and (max-width: 600px) {
  .profileScreen__details--container {
    width: 80%;
  }

  .profileScreen__details--container h1 {
    font-size: 1.525em;
  }
  .profileScreen__avatar {
    height: 50px;
  }
  .profileScreen__renewalDate {
    font-size: 1em;
  }
  .plan_info {
    font-size: 0.975em;
  }
  .plan_button {
    font-size: 0.975em;
    padding: 3px 5px;
  }
}
